<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="ftzlTMRBS0YJRakuyyGKlZUW4TqUK3funEetyKalRa5uAYdn4yDm11u2kLmgYlSt7dVkOsYi3+tLtsiCJbhkTw==">
  </head>
  <body>
    <p id = "notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
            <span><%= book.title %></span>
            </td>
            <td>
            <span><%= book.body %></span>
            </td>
            <td>
              <%= link_to "Show", book_path(book.id) %>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path(book.id) %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <h2>New book</h2>
    <%= form_with model:@book, local:true do |f| %>
    <% if @book.errors.any? %>
      <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
      <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      
      <% end %>
    <% end %>
      <h4>Title</h4>
      <%= f.text_field :title %>

      <h4>Body</h4>
      <%= f.text_field :body %>

      <%= f.submit 'Create Book' %>

    <% end %>
  </body>
</html>